$c-edsoc-yellow: #ffeb78;

.multi-text-scroller {
  padding: 0.2em 0 0.5em;
  background-color: $c-edsoc-yellow;

  .text-scroller {
    background-color: transparent;
  }
}

.map-app {
  &:after {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    top: 1%;
    background-image: url('../../static/ui/skills-overlay.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: 85%;
  }

  .inclusion-bar {
    display: none;
  }
}

.intro-screen {
  background-color: $c-edsoc-yellow;

  .waiting-text .text {
    color: $c-edsoc-yellow;
  }
}

.decision-screen {
  background-color: $c-edsoc-yellow;
}


