$c-edsoc-yellow: #ffeb78;

.multi-text-scroller {
  padding: 0.2em 0 0.5em;
  background-color: $c-edsoc-yellow;

  .text-scroller {
    background-color: transparent;
  }
}

.map-app .inclusion-bar {
  display: none;
}

.intro-screen {
  background-color: $c-edsoc-yellow;

  .waiting-text .text {
    color: $c-edsoc-yellow;
  }
}

.decision-screen {
  background-color: $c-edsoc-yellow;
}
